{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Examination System">
    <meta name="author" content="Chimaobi Emmanuel (Sycon Technology)">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/carousel.css' %}">
    <title>Online Examination System</title>
    <script type="text/javascript" src="{% static 'core/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/js/bootstrap.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'core/js/angular.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'core/js/vue.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel({interval: 2000});
        });
    </script>

</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>