{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title %}
    Examination Panel
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/exam.css' %}">
{% endblock %}

{% block content %}
    <div class="first">
        <img src="{% static 'core/hi.jpg' %}"  style="height: 100%;">
    </div>
    <div class="">
        <div class="second-second"></div>
        <div class="second-first"></div>
    </div>
    <div class="third">
        <p id="huu" class="text-center" style="">Copyright - &#9400 Sycon Technology</p>
    </div>
{% endblock %}